@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap');
body{
  font-family: 'Jost', sans-serif;
}

label{
  font-size: 1rem;
}

input.form-control, input.from-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}

.signup{
  max-width: 350px;
  margin: auto;
}